@charset "utf-8";  /*"US-ASCII";*/


.plwrap {
  display: grid;
  grid-template-columns: 4em 15fr 5fr;
  grid-auto-rows: minmax(100px, auto);
  /*  added 2024-07-27   */
	gap: 1px;
	background-color: rgb(224,215,255);
  /*  added 2024-07-27   */
    padding: 10px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
/*   ****************************************************    */

* {
  box-sizing: border-box;
}
.box {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: rgb(048,048,048);  /*#d9480f;*/
}
figure {
  background-color: #fFdFdF;
  border: 2px #00aaaa solid;
  padding: 4px;
  margin: 4px;
}
.caption {
  background-color: #cF9F9F;  /* #2F4F4F DarkSlateGray*/
  color: Ivory;                     /* #FFFFF0 */
  font-style: italic;
  padding: 2px;
  text-align: center;
}
/* added to alternate color     */
.grid-item {
        border: 3px solid #000;
        padding: 10px;
        border-radius: 5px;
  /*background-color: #ffd8a8;  */
  padding: 1em;
  color: rgb(048,048,048);
    }
     .grid-item:nth-child(12n+2) {   /* pastel red */
        background-color: rgb(255,204,225); /* Bg Color p red */
		color: rgb(005,024,225);
    }
    .grid-item:nth-child(12n+5) {   /* 6n+6 -> 6n+8 */
        background-color: rgb(250,255,199); /* Bg Color p yellow */
		color: rgb(90,100,100);
    }
	.grid-item:nth-child(12n+8) {   /* 6n+4  ->  6n+5 */
        background-color: rgb(204,255,204);/*#c1e7e3;  Bg Color p green */
		color: rgb(055,045,255);
    }
    .grid-item:nth-child(12n+11) {
        background-color: rgb(204,204,255); /*  Bg Color p blue */
		color: rgb(085,025,025);
    }

/* added to alternate color     */
/* added to orient text vertical     */
.vert {
writing-mode: vertical-rl;
text-orientation: sideways;   /* mixed | upright | | |   | */
}
/* added to orient text vertical     */